*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
main{
    display: flex;
    justify-content: stretch;
}
.col-der{
    background-color: #F0F1F3;
    height: 100%;
    flex-basis: 75%;
    margin-left: 480px;
}
.col-izq{
    background-color: #898C93;
    height: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: fixed;
    z-index: 50;
    
}
.col-izq .logo{
    width: 200px;
    margin-top: 50px;
}
.col-izq .logo img{
    width: 100%;
}

.col-izq .box-edad,
.col-izq .box-filtro{
    width: 210px;
}
.col-izq .box-edad h3,
.col-izq .box-filtro h3{
    margin-bottom: 30px;
    font-size: 25px;
}
.col-izq .box-edad button{
    display: flex;
    width: 100%;
    background-color: #898C93;
    border: none;
    outline: none;
    margin: 25px 0;
    color: #fff;
    font-size: 20px;
}

.col-izq .box-edad button i{
    margin-right: 40px;
}

.box-edad,
.box-filtro{
    margin-top: 50px;
   
}

.col-izq .box-filtro .group-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.col-izq .box-filtro .group-select span{
    margin-right: 25px;
}

.col-der h2{
    color: #7F7F7F;
    margin: 50px 25px;
    font-size: 40px;
    font-weight: lighter;
}

/*aquí empecé*/ 
.fila-tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 80px;
    

}

.caja-tarjeta-informacion{
    background: white;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center ;
    border-radius: 20px;
}

.cuadro-logo{
    position: absolute;
    right: 25px;
    z-index: 3;
}   
.forma-casa{
    position: absolute;
    width: 50px; 
    top: 0;
    left: 0;
    z-index: -1;
}
.logo-casa{
    width: 50px;
    z-index: 5;
}
.tarjeta-informacion{
    padding: 20px;
}

.tarjeta-informacion-personaje{
    text-align: center;
}
.tarjeta-informacion-foto{
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
.informacion-texto{
    margin-top: 5px;
}
.informacion-texto p{
    color: #7F7F7F;
}

.tarjeta-infomacion-datos{
    margin: 15px 0;
    display: flex;
}   
.tarjeta-infomacion-datos i{
    font-size: 35px;
    margin-right: 10px;
    color: #7F7F7F;
}
.datos-texto{
    color: #7F7F7F;
}
.datos-texto p:last-child{
    font-weight: bold;
}

/*Aquí terminé*/