*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}
main{
    display: flex;
    justify-content: stretch;
}
.col-right{
    background-color: #F0F1F3;
    height: 100vh;
    flex-basis: 75%;
}
.col-left{
    background-color: #898C93;
    height: 100vh;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    
}
.col-left .logo{
    width: 200px;
    margin-top: 30px;
}
.col-left .logo img{
    width: 100%;
}

.col-left .box-edad,
.col-left .box-filtro{
    width: 202px;
}
.col-left .box-edad h3,
.col-left .box-filtro h3{
    margin-bottom: 30px;
}
.col-left .box-edad button{
    display: flex;
    width: 100%;
    background-color: #898C93;
    border: none;
    outline: none;
    margin: 25px 0;
    color: #fff;
    font-size: 20px;
}

.col-left .box-edad button i{
    margin-right: 40px;
}


.box-edad,
.box-filtro{
    margin-top: 50px;
   
}

.col-left .box-filtro .group-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.col-left .box-filtro .group-select span{
    margin-right: 25px;
}

.col-right h2{
    color: #7F7F7F;
    margin: 50px 25px;
    font-size: 40px;
    font-weight: lighter;
}

/*aquí empecé*/ 
.fila-tarjetas{
    display: flex;
}
.caja-tarjeta-informacion{
    margin: 0 30px;
    background: white;
    width: 33%;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center ;
}

.cuadro-logo{
    position: absolute;
    right: 0;
}   

.logo-casa{
    width: 50px;
}
.tarjeta-informacion{
    padding: 20px;
}

.tarjeta-informacion-personaje{
    text-align: center;
}
.tarjeta-informacion-foto{
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
.informacion-texto{
    margin-top: 5px;
}
.informacion-texto p{
    color: #7F7F7F;
}

.tarjeta-infomacion-datos{
    margin: 15px 0;
    display: flex;
}   
.tarjeta-infomacion-datos i{
    font-size: 35px;
    margin-right: 10px;
    color: #7F7F7F;
}
.datos-texto{
    color: #7F7F7F;
}
.datos-texto p:last-child{
    font-weight: bold;
}

/*Aquí terminé*/